.header h2{
    text-shadow: none;
}

.about-info p, h5{
    text-shadow: none;
}

body{
    background-color: #DC244A;
}

.background-color{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.header{
    color: #8A38F5;
}
