.header h2{
    text-shadow: none;
}

.about-info p, h5{
    text-shadow: none;
}

body{
    background-color: #DC244A;
}

.background-color{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin: 75px;
}

.header, .about-info h3{
    color: #8A38F5;
    text-shadow: 2px 2px 5px #a6a6a6;
}

.about-info{
    margin: 0px 100px 0px 100px;
}
